<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configs SELEFILE="D:\work\WIFI\codes\bk7231_freertos_full_code\debug\beken7251.bin" SAVEFILE="D:\work\WIFI\codes\bk7231_freertos_full_code\debug\beken7251.rbl" COMPRESS="3" CRYPT="1" KEY="0123456789ABCDEF0123456789ABCDEF" IV="0123456789ABCDEF" NAME="app" VERSION="vt.20200624" />
</configuration>